<div class="container-fluid">

  <main>
    <section class="row p-5 d-flex align-items-center" id="projects">
      <div class="col-12 mt-5">
        <h1 class="text-center mt-5 display-1 color">Coming Soon</h1>
      </div>
    </section>
  </main>

  <footer class="row position-fixed bottom-0 d-flex align-items-center px-5 w-100">
    <h2 class="col-2 text-start mono-font dark"><span class="imitate-btn" id="work">< Work</span></h2>
    <h2 class="col-2 text-end mono-font dark ms-auto"><span class="imitate-btn" id="home">Home ></span></h2>
  </footer>

</div>