<div class="container-fluid">
  <header class="row">
    <div class="col-12 p-5 d-flex align-items-end">
      <div>
        <h4 class="mono-font-lt color fs-2">Web Developer</h4>
        <h1 class="fancy-font color display-1">JORDAN KELLY</h1>
      </div>
    </div>
  </header>
  <footer class="row position-fixed bottom-0 d-flex align-items-center px-5 w-100">
    <div class="col-4 pt-2">
      <h2 class="text-center mono-font dark"><span class="imitate-btn">Life</span></h2>
    </div>
    <div class="col-4 pt-2">
      <h2 class="text-center mono-font dark"><span class="imitate-btn">Work</span></h2>
    </div>
    <div class="col-4 pt-2">
      <h2 class="text-center mono-font dark"><span class="imitate-btn">Blog</span></h2>
    </div>
  </footer>
</div> 