<div class="container-fluid collage">

  <div class="row justify-contents-center p-5">
    <div class="col-12">
      <div class="row justify-contents-center">
        <div class="col-2">
          <h4 class="color skinny text-center">My Story</h4>
        </div>
        <div class="col-10 pe-5">
          <p class="light">Ever since I was a little boy I dreamed of being a web developer… and if you believe that, then I’ve got a bridge to sell you. In truth, my path to becoming a web developer has been a long and unpredictable journey. I was a psychologist who dreamt of being a pilot, a wunderlust-stricken English teacher, an insufficiently greedy investment advisor, and an automotive entrepreneur who thinks sinking money into cars is wasteful. It’s been quite the journey.</p>
          <p class="light ">For me, life hasn’t been a carefully orchestrated symphony of coordinated harmonies telling a single coherent story. My life’s soundtrack is more akin to jazz: largely improvised and full of off-beat rhythms and deliberate deviations in pitch. I seek to harness the chaotic beats of life to create something new and beautiful. It's that ability to improvise and discover interesting ideas that fuels my work as a web developer. I bring the full weight of my insatiable curiosity, globe-trotting experience, and multifaceted professionalism to bear in creating delightful and functional websites that are sure to please.</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="row position-fixed bottom-0 p-5 w-100 border">
    <h2 class="col-2 text-start mono-font color border"><span class="imitate-btn">< Home</span></h2>
    <h2 class="col-2 text-end mono-font color border"><span class="imitate-btn">Work ></span></h2>
  </footer>

</div>