<div class="container-fluid">

  <main>
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mono-font color display-1 my-5">- Life -</h1>
      </div>
    </div>
    <!-- My Story -->
    <section class="row justify-contents-center p-5">
      <div class="col-2">
        <h4 class="color skinny fs-2 text-center">My Story</h4>
      </div>
      <div class="col-10 pe-5">
        <p>Ever since I was a little boy I dreamed of being a web developer… and if you believe that, then I’ve got a
          bridge to sell you.</p>
        <p>In truth, my path to becoming a web developer has been a long and unpredictable journey. I was a psychologist
          who dreamt of being a pilot, a wunderlust-stricken English teacher, an insufficiently greedy investment advisor,
          and an automotive entrepreneur who thinks sinking money into cars is wasteful. It’s been quite the journey.</p>
        <p>For me, life hasn’t been a carefully orchestrated symphony of coordinated harmonies telling a single coherent
          story. My life’s soundtrack is more akin to jazz: largely improvised and full of off-beat rhythms and deliberate
          deviations in pitch. I seek to harness the chaotic beats of life to create something new and beautiful. It's
          that ability to improvise and discover interesting ideas that fuels my work as a web developer. I bring the full
          weight of my insatiable curiosity, globe-trotting experience, and multifaceted professionalism to bear in
          creating delightful and functional websites that are sure to please.</p>
      </div>
    </section>
    <hr class="color mx-auto w-50">
    <section class="row justify-contents-center p-5">
      <div class="col-2">
        <h4 class="color skinny fs-2 text-center">Interests</h4>
      </div>
      <div class="col-10 pe-5">
        <p>These days I spend nearly every waking moment improving my craft as a web developer. When my face isn't buried in my screen, it is usually buried in a book. I am an avid reader, and while have enjoyed fiction in the past, I mostly read history and the occasional biography now.</p> 
        <p>I love to travel and immerse myself in different cultures. I caught the travel bug when I did a year studying abroad in France and exploring Europe, and I later spent an exciting few years working in China as an English teacher. Two of my favorite things to do when I can find the time are skiing and scuba-diving.</p>
        <p>My great loves in life are my beautiful wife, my cat, and my work.</p>
      </div>
    </section><br><br>
  
  </main>

  <footer class="row position-fixed bottom-0 d-flex align-items-center px-5 w-100">
    <h2 class="col-2 text-start mono-font dark"><span class="imitate-btn" id="home">< Home</span></h2>
    <h2 class="col-2 text-end mono-font dark ms-auto"><span class="imitate-btn" id="work">Work ></span></h2>
  </footer>

</div>