<div class="container-fluid bl-bg">

  <div class="row justify-contents-center p-5">

      <div class="row justify-contents-center my-2">
        <div class="col-3 p-2">
          <h4 class="color skinny text-center">Projects</h4>
        </div>
        <div class="col-6 p-2">
          <h6 class="color"><a class="imitate-btn">My Job</a></h6>
          <p class="light">This is a full stack web application that empowers a user to better organize their job search. The user can create a unique profile, add job applications, track their status, update with notes, and compare data.</p>
        </div>
        <div class="col-3 p-2">
          <img class="img-fluid rounded w-50" src="../img/my-job.png" alt="My Job">
        </div>
      </div>

      <div class="row justify-contents-center my-2">
        <div class="col-3 p-2">
        </div>
        <div class="col-6 p-2">
          <h6 class="color"><a class="imitate-btn">Bookish</a></h6>
          <p class="light">Bookish is a reading list application that allows you to keep a list of which books you have read, and it allows you to add new books that you want to read later.</p>
        </div>
        <div class="col-3 p-2">
          <img class="img-fluid rounded w-50" src="../img/bookish.png" alt="Bookish Reading List">
        </div>
      </div>

      <div class="row justify-contents-center my-2">
        <div class="col-3 p-2">
        </div>
        <div class="col-6 p-2">
          <h6 class="color"><a class="imitate-btn">GoT Quiz</a></h6>
          <p class="light">This is a Game of Thrones themed quiz consisting of 20 questions and set to a timer. Wrong answers will decrease the timer. Correct answers will be scored and a percentage will display at the end. Player names and scores are stored for reference and can be called upon by clicking on the scoreboard.</p>
        </div>
        <div class="col-3 p-2">
          <img class="img-fluid rounded w-50" src="../img/got-quiz.png" alt="Game of Thrones Quiz">
        </div>
      </div>

  </div>

  <footer class="row bl-bg position-fixed bottom-0 justify-contents-around p-5 w-100">
    <h2 class="col-6 text-start mono-font color"><span class="imitate-btn">< Home</span></h2>
    <h2 class="col-6 text-end mono-font color"><span class="imitate-btn">Work ></span></h2>
  </footer>

</div> 