<div class="container-fluid bl-bg">

  <main>
    <!-- Skills Sections -->
    <section class="row p-5" id="skills">
      <div class="row my-2">
        <div class="col-2">
          <h4 class="color skinny fs-2 text-center pt-1">Skills</h4>
        </div>
        <div class="col-10">
          <div class="row px-4">
            <div class="col-2 skill mono-font mx-3 my-1">HTML5</div>
            <div class="col-2 skill mono-font mx-3 my-1">JavaScript</div>
            <div class="col-2 skill mono-font mx-3 my-1">Node</div>
            <div class="col-2 skill mono-font mx-3 my-1">CSS3</div>
            <div class="col-2 skill mono-font mx-3 my-1">JQuery</div>
            <div class="col-2 skill mono-font mx-3 my-1">Express</div>
            <div class="col-2 skill mono-font mx-3 my-1">MySQL</div>
            <div class="col-2 skill mono-font mx-3 my-1">Sequelize</div>
            <div class="col-2 skill mono-font mx-3 my-1">Handlebars</div>
            <div class="col-2 skill mono-font mx-3 my-1">Markdown</div>
            <div class="col-2 skill mono-font mx-3 my-1">Bootstrap</div>
            <div class="col-2 skill mono-font mx-3 my-1">Web APIs</div>
            <div class="col-2 skill mono-font mx-3 my-1">Server-Side APIs</div>
            <div class="col-2 skill mono-font mx-3 my-1">AJAX</div>
            <div class="col-2 skill mono-font mx-3 my-1">JSON</div>
            <div class="col-2 skill mono-font mx-3 my-1">Client-Side Storage</div>
            <div class="col-2 skill mono-font mx-3 my-1">Git</div>
            <div class="col-2 skill mono-font mx-3 my-1">GitHub</div>
            <div class="col-2 skill mono-font mx-3 my-1">Problem Solving</div>
          </div>
        </div>
      </div>
    </section>

    <!-- Projects Section -->
    <section class="row p-5" id="projects">
      <div class="row my-2">
        <div class="col-2">
          <h4 class="color skinny fs-2 text-center pt-4">Projects</h4>
        </div>
        <div class="col-10">
          {{#each projects}}
          {{> project-block}}
          {{/each}}
        </div>
      </div>
    </section><br><br><br>
  </main>

  <footer class="row position-fixed bottom-0 d-flex align-items-center px-5 w-100">
    <h2 class="col-2 text-start mono-font dark"><span class="imitate-btn" id="life">< Life</span></h2>
    <div class="col-4 d-flex">
      <a class="text-center fs-4 mx-auto" id="cv" href="/img/jordan-kelly-cv.pdf" download="jordan-kelly-cv">Download my résumé</a>
    </div>
    <div class="col-4 d-flex">
      <a class="text-center fs-4 mx-auto" id="cv" href="https://www.linkedin.com/in/the-real-jordan-kelly/" target="_blank">Connect with me on LinkedIn</a>
    </div>
    <h2 class="col-2 text-end mono-font dark"><span class="imitate-btn" id="blog">Blog ></span></h2>
  </footer>

</div> 