<div class="container-fluid bl-bg">

  <main>
    <!-- Projects Section -->
    <section class="row p-5" id="projects">
      <div class="row my-2">
        <div class="col-2">
          <h4 class="color skinny fs-2 text-center">Projects</h4>
        </div>
        <div class="col-10">
          {{#each projects}}
          {{> project-block}}
          {{/each}}
        </div>
      </div>
    </section><br><br><br>
  </main>

  <footer class="row position-fixed bottom-0 d-flex align-items-center px-5 w-100">
    <h2 class="col-2 text-start mono-font dark"><span class="imitate-btn" id="life">< Life</span></h2>
    <div class="col-8 d-flex">
      <a class="text-center fs-4 mx-auto" id="cv" href="img/jordan-kelly-cv.pdf" download="jordan-kelly-cv">Download My Résumé</a>
    </div>
    <h2 class="col-2 text-end mono-font dark"><span class="imitate-btn" id="blog">Blog ></span></h2>
  </footer>

</div> 