/***** GLOBAL *****/
body {
  font-family: 'Montserrat', sans-serif;
  background: url("../img/collage.png") no-repeat center;
  background-size: cover;
  
}
main {
  height: 90vh;
}
footer {
  height: 10vh;
}
p {
  /* background: #0f0f0f; */
  color: #e6e6e6;
  font-size: 1.1em;
  border-radius: 10px;
  /* opacity: 80%; */
  padding: 0.5%;
}

.rounded-border {
  border-radius: 10px;
}

/* BACKGROUNDS */
.lt-bg {
  background: #e6e6e6;
}
.dk-bg {
  background: #393e46;
}
.cl-bg {
  background: #fad586;
}
.bl-bg {
  background: #0f0f0f;
}

/* TEXT STYLES */
.fancy-font {
  font-family: 'Kanit', sans-serif;
}
.mono-font-lt {
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
}
.mono-font {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}
.color {
  color: #fad586;
}
.dark {
  color: #0f0f0f;
}
.light {
  color: #e6e6e6;
}
.bold {
  font-weight: 700;
}
.skinny {
  font-weight: 100;
}


/* BUTTONS */
.imitate-btn:hover {
  text-decoration: underline;
  text-decoration-color: #0f0f0f;
  cursor: pointer;
}