/***** GLOBAL *****/
* {
  box-sizing: border-box;
}

body {
  background: #f6f5f5;
}

.hero {
  height: 750px;
  background: url("../img/profile-hero-800px.png") no-repeat center;
  background-size: cover;
}

/* BACKGROUNDS */
.lt-bg {
  background: #e6e6e6;
}
.dk-bg {
  background: #393e46;
}

/* TEXT STYLES */
.fancy-font {
  font-family: 'Kanit', sans-serif;
}
.mono-font-lt {
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
}
.mono-font {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}
.color {
  color: #fad586;
}
.dark {
  color: #0f0f0f;
}
.light {
  color: #e6e6e6;
}


